In [10]:
import pandas as pd
import numpy as np
import seaborn as sns

In [11]:
df = sns.load_dataset('planets')

### Print/ Display the first 5 rows of dataframe

In [13]:
# your code here
print(df.head())

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Print/ Display the last 5 rows of dataframe

In [14]:
# your code here
print(df.tail())

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

### How many unique methods are there?

In [15]:
unique_methods = df['method'].nunique()
print("number of unique methods:", unique_methods)

Number of unique methods: 10

### What is the number of data collected in each year?

In [16]:
# your code here
data_per_year = df['year'].value_counts()
print("data collected in each year:\n", data_per_year)

Data collected per year:
 year
2011    185
2012    140
2013    118
2010    102
2009     98
2008     74
2007     53
2014     52
2005     39
2002     32
2006     31
2004     26
2003     25
2000     16
1999     15
2001     12
1996      6
1998      5
1992      2
1995      1
1997      1
1989      1
1994      1
Name: count, dtype: int64

### Which columns have missing values and how many?

In [17]:
missing_values = df.isnull().sum()
print("columns with missing values:\n", missing_values[missing_values > 0])

Columns with missing values:
 orbital_period     43
mass              522
distance          227
dtype: int64

### Write docstring for the function below.

In [23]:
def do_something(x, y, z):
    """
     
     This function takes three parametes  'x' , 'y' , 'z' 
     
     calculates the sum of reciprocals these parameters and save it to result variable
     
     returns the reciprocal of result variable
     
     
      
     
    """   

    result = 1 / x + 1 / y + 1 / z

    return 1 / result

### Get (print) the docstring of the function defined above.

In [24]:
print(do_something.__doc__)

     This function takes three parametes  'x' , 'y' , 'z'

     calculates the sum of reciprocals these parameters and save it to result variable

     returns the reciprocal of result variable

### Call do_something function for the (11,13,15) values and save it as result

In [50]:
result = do_something(11, 13, 15)

### In the variable 's' containing a sentence, extract the word using result defined above as index

In [51]:
s = "I love Machine Learning and Deep Learning"

word = int(result)
sword = s.split()[word]
print("word:", sword)

word: and

### Sort the given array below, do not use built in functions. All sorting methods are allowed.

In [68]:
import random
arr2 = [random.randint(10, 80) for i in range(5)]
arr1 = [random.randint(1, 100) for i in range(10)]
n = len(arr)
for i in range(n):
  for j in range(0, n - i - 1):
     if arr[j] > arr[j + 1]:
         arr[j], arr[j + 1] = arr[j + 1], arr[j]


print("after sort :", arr)

after sort : [1, 16, 21, 38, 47, 49, 50, 60, 90, 91]

### define a recursive function to calculate input numbers factorial named factorial

In [72]:
def factorial(x):
  if x==0 or x ==1:
      return 1
   
  else:
      return x*factorial(x-1)
  
a=factorial(10)
print(a)

3628800

### define a function to merge the given arrays and calculate the median named twoMedian

In [71]:
def twoMedian(arr1, arr2):
    merged = sorted(arr1 + arr2)
    n = len(merged)
    if n % 2 == 0:
        return (merged[n // 2 - 1] + merged[n // 2]) / 2
    else:
        return merged[n // 2]

m=twoMedian(arr1,arr2)
print(m)

31